.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 3, 3, 0.452);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #04996c88;
  transition: all ease-in-out 0.4s;
}

.close-button:hover {
  color: #fff;
}

.video-modal-content {
  position: relative;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  width: 900px;
  height: 600px;
  overflow: auto;
  animation: zoomIn 0.5s;
}

@media screen and (768px < width < 1024px) {
  .video-modal-content {
    width: 700px;
    height: 500px;
  }
}

@media screen and (512px < width < 768px) {
  .video-modal-content {
    width: 500px;
    height: 400px;
  }
}

@media screen and (width < 512px) {
  .video-modal-content {
    padding: 20px;
    width: 350px;
    height: 250px;
  }
}

/* Animation */
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
